
@{
    Layout = null;
}

<h3>Yetenekler</h3>
<h4>Bildiğim Diller: C#, SQL, Asp.Net Core, C</h4>
<h5>Araçlar: Visual Studio, Mssql, Github, Postman</h5>


<a href="/Default/Index">Index sayfasını aç.</a>